<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Finanzas UDB"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProyectoCatedra">

        <activity
            android:name="MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".auth.ui.RegistroActivity" android:exported="false" />
        <activity android:name=".auth.ui.PerfilActivity" android:exported="false" />
        <activity android:name=".dashboard.ui.ActividadDashboard" android:exported="false" />
        <activity android:name=".movimientos.ui.AgregarMovimiento" android:exported="false" />
        <activity android:name=".presupuesto.ui.PresupuestosActivity" android:exported="false" />
        <activity android:name=".historial.ui.HistorialActivity" android:exported="false" />
        <activity android:name=".noticias.ui.NoticiasActivity" android:exported="false" />

    </application>

</manifest>